# Data files - DO NOT COMMIT
*.jsonl
*.xlsx
*.pkl

# Output directories
data/raw
data/fe-course-data
output/
results/
raw_data/
models/

# Config files
config.py
.env
secrets/
.vscode/
# Python
__pycache__/
*.pyc
.env
.pytest_cache
.github/
# Outside files
notebooks/Mayenmein Terence Sama (UBa25PP122).ipynb 